@charset "UTF-8";
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  margin-bottom: 5px; }

html,
body {
  font-size: 16px;
  font-family: 微軟正黑體;
  color: #222;
  background: #f3f3f3; }

a {
  text-decoration: none;
  border: none;
  color: #222; }

.section {
  height: 100vh;
  width: 100%; }

.container {
  width: 100%;
  height: 100%;
  max-width: 1424px;
  margin: 0 auto; }

.flex_wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.just_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.just_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.section_001 {
  background: #b2b2b2;
  height: 830px; }

.navbar {
  height: 70px;
  width: 100%;
  position: absolute; }

.logo_wrapper {
  height: 100%;
  width: 108px;
  background: #727272;
  margin-right: 20px; }

.nav-tab,
.fuc-btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-tab {
  padding: 0 19px;
  height: 100%; }

.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff; }

.fuc-btn {
  padding: 0 16px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
