@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  margin-bottom: 5px;
}
html,
body {
  font-size: 16px;
  font-family: 微軟正黑體;
  color: #222;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  border: none;
  color: #222;
}

.section {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1424px;

  margin: 0 auto;
}

.flex_wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.just_left {
  justify-content: flex-start;
}

.just_right {
  justify-content: flex-end;
}

.section_001 {
  background: #b2b2b2;
  height: 830px;
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
}

.logo_wrapper {
  height: 100%;
  width: 108px;
  background: #727272;

  margin-right: 20px;
}

.nav-tab,
.fuc-btn {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-tab {
  padding: 0 19px;
  height: 100%;
}

.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff;
}

.fuc-btn {
  padding: 0 16px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
