.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  margin-bottom: 5px;
}
html,
body {
  font-size: 16px;
  font-family: 微軟正黑體;
  color: #222;
  background: #f3f3f3;
}

a {
  text-decoration: none;
  border: none;
  color: #222;
}

.section {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1424px;

  margin: 0 auto;
}

.flex_wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.just_left {
  justify-content: flex-start;
}

.just_right {
  justify-content: flex-end;
}

.section_001 {
  background: #b2b2b2;
  height: 830px;
}

.navbar {
  height: 70px;
  width: 100%;
  position: absolute;
}

.logo_wrapper {
  height: 100%;
  width: 108px;
  background: #727272;

  margin-right: 20px;
}

.nav-tab,
.fuc-btn {
  color: #fff;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-tab {
  padding: 0 19px;
  height: 100%;
  position: relative;
}

.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff;
}

.fuc-btn {
  padding: 0 16px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 5px;
}

.position_pager {
  height: 240px;
  width: 10px;

  // background: #000;
  position: fixed;

  top: calc(50vh - 120px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 35px;
  position: absolute;

  border-radius: 3px;

  right: -130px;
  top: -4px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  // transition: 0.5s;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
    position: absolute;
    left: -6px;
  }
}
.dot {
  height: 30px;
  width: 10px;
  margin-bottom: 1rem;

  border-radius: 10px;

  background: rgba(0, 0, 0, 0.1);
  display: block;

  transition: 0.5s;

  cursor: pointer;

  &.active {
    background: #fff;
    position: relative;
  }
}

// nav-hamberger
#ham-ani {
  display: none;
  width: 40px;
  height: 40px;

  position: absolute;
  right: 20px;
  top: 20px;

  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
/* Icon 2 */

#ham-ani span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#ham-ani span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#ham-ani span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#ham-ani span:nth-child(1),
#ham-ani span:nth-child(2) {
  top: 0px;
}

#ham-ani span:nth-child(3),
#ham-ani span:nth-child(4) {
  top: 12px;
}

#ham-ani span:nth-child(5),
#ham-ani span:nth-child(6) {
  top: 24px;
}

#ham-ani.open span:nth-child(1),
#ham-ani.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#ham-ani.open span:nth-child(2),
#ham-ani.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#ham-ani.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#ham-ani.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#ham-ani.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#ham-ani.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#ham-ani.open span:nth-child(5) {
  left: 5px;
  top: 17px;
}

#ham-ani.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px;
}

@media (max-width: 1024px) {
  #ham-ani {
    display: initial;
  }
  .avatar-btn {
    display: none;
  }
  .md-pr-40 {
    padding-right: 40px;
  }
  .md-none {
    display: none;
  }
}
