@charset "UTF-8";
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga"; }

html,
body {
  font-size: 16px;
  font-family: 微軟正黑體;
  color: #fff;
  background: #222; }

a {
  text-decoration: none;
  border: none;
  color: #fff; }

img {
  height: 100%;
  width: 100%; }

.section {
  height: 100vh;
  width: 100%; }

.container {
  width: 100%;
  height: 100%;
  max-width: 1424px;
  margin: 0 auto; }

.flex_wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.just_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.just_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align_start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.section_001 {
  background: #333;
  height: 830px; }

.navbar {
  height: 70px;
  width: 100%;
  position: absolute; }

.logo_wrapper {
  height: 65%;
  width: 108px;
  background: #727272;
  margin-right: 20px; }

.nav-tab,
.fuc-btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap; }

.nav-tab {
  padding: 0 19px;
  height: 100%;
  position: relative; }
  .nav-tab.active {
    color: #727272; }
    .nav-tab.active::after {
      content: "";
      height: 5px;
      width: 60%;
      position: absolute;
      bottom: 18%;
      left: 20%;
      border-radius: 5px;
      background: #727272; }

.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff; }

.fuc-btn {
  padding: 0 16px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fuc_tt {
  margin-top: 5px; }

.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 5px; }

.position_pager {
  height: 240px;
  width: 10px;
  position: fixed;
  top: calc(50vh - 120px);
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.text {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 35px;
  position: absolute;
  border-radius: 3px;
  right: -130px;
  top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1; }
  .text::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
    position: absolute;
    left: -6px; }

.dot {
  height: 30px;
  width: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }
  .dot.active {
    background: #fff;
    position: relative; }

.video_container {
  width: 1008px;
  height: 760px;
  background: #000;
  padding-top: 70px; }

.rank_container {
  width: 376px;
  height: 760px;
  margin-left: 40px;
  padding-top: 70px; }

.avatar_first_rank {
  height: 100px;
  width: 100px;
  border-radius: 100px; }

.title_wrapper {
  max-height: 40px; }

.title_icon {
  height: 40px;
  width: 40px;
  border-radius: 40px; }

.title_name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px; }

.rank_panel {
  background: #444;
  height: 673px;
  width: 100%;
  border-radius: 5px;
  position: relative; }

.rank_header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #444;
  border-radius: 5px; }

.rank_body {
  min-height: 373px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 95%;
  margin: 227px auto 0 auto; }

#rank_body_scroll::-webkit-scrollbar {
  background: none;
  width: 5px;
  border-radius: 5px; }

#rank_body_scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

.rank_item_wrapper {
  margin-bottom: 15px;
  padding: 0 10px; }

.rank_num {
  font-size: 18px;
  font-weight: 700; }

.avatar_first_rank {
  margin: 10px 0;
  height: 100px;
  width: 100px; }

.rank_avatar {
  height: 50px;
  width: 50px;
  margin: 0 10px; }

.ID_first_rank {
  font-size: 18px;
  font-weight: 700; }

.ID_rank {
  font-size: 16px; }

.intro_first_rank {
  margin: 5px 0;
  font-size: 13px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.intro_rank {
  font-size: 13px;
  color: #d8d8d8;
  margin: 5px 0 0 0; }

.rank_item_footer {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

#ham-ani {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#ham-ani span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#ham-ani span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#ham-ani span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#ham-ani span:nth-child(1),
#ham-ani span:nth-child(2) {
  top: 0px; }

#ham-ani span:nth-child(3),
#ham-ani span:nth-child(4) {
  top: 12px; }

#ham-ani span:nth-child(5),
#ham-ani span:nth-child(6) {
  top: 24px; }

#ham-ani.open span:nth-child(1),
#ham-ani.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#ham-ani.open span:nth-child(2),
#ham-ani.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#ham-ani.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#ham-ani.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#ham-ani.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#ham-ani.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#ham-ani.open span:nth-child(5) {
  left: 5px;
  top: 17px; }

#ham-ani.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px; }

@media (max-width: 1024px) {
  #ham-ani {
    display: initial; }
  .avatar-btn {
    display: none; }
  .md-pr-40 {
    padding-right: 40px; }
  .md-none {
    display: none; } }
